<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AvayaCPaaS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AvayaCPaaS.Properties.Settings>
            <setting name="accountSid" serializeAs="String">
                <value />
            </setting>
            <setting name="authToken" serializeAs="String">
                <value />
            </setting>
            <setting name="baseUrl" serializeAs="String">
                <value>"https://api.zang.io/v2"</value>
            </setting>
            <setting name="proxyHost" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="useProxy" serializeAs="String">
                <value>False</value>
            </setting>
        </AvayaCPaaS.Properties.Settings>
    </applicationSettings>
</configuration>